{{template "header"}}
<h1>Contact Page</h1>
<p>
To get in touch, email me at <a href="mailto:shreyasks.cs18@bmsce.ac.in">shreyasks.cs18@bmsce.ac.in
</a>.
</p>
{{template "ok"}}
{{template "ok"}}{{template "ok"}}{{template "ok"}}{{template "ok"}}
{{define "ok"}}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
{{end}}
{{template "footer"}}